@using FlowManager.Client.ViewModels.Team;
@using FlowManager.Client.ViewModels;
@using FlowManager.Client.Components.Admin.Members.ViewTeams;

<div class="view-teams-container">
    <div class="search-container">
        <input class="search-teams-input"
               type="text"
               placeholder="Search by teams or employees name..."
               @bind="_searchTerm" />

        <button class="search-teams-button" @onclick="LoadTeams">
            Search
        </button>

        <button class="add-team-button" @onclick="() => OpenAddTeamModal()">
            + Add Team 
        </button>
    </div>
    
    <div class="teams-container">
        @for (int i = 0; i < _teams.Count(); i++)
        {
            int index = i;

            <!-- Team details -->
            <div class="team-details">
                <!-- Dropdown team members button -->
                @if (_teams[i].Users != null && _teams[i].Users?.Count() > 0)
                {
                    <button class="dropdown-team-members-button" @onclick="() => ChangeVisibilityTeamMembersDropdown(index)">
                        ˅
                    </button>
                }
                <label class="team-name">@_teams[i].Name</label>
                <span class="team-users-count">@(_teams[i].Users?.Count ?? 0) users</span>
                @if (_dropdownTeamMembersState[i] && _teams[i].Users != null && _teams[i].Users?.Count() > 0)
                {
                    <!-- Team members container-->
                    <div class="team-members-container">
                        @for (int j = 0; j < _teams[i].Users!.Count; j++)
                        {
                            <!-- Team members details -->
                            <div class="team-members-details">
                                <span class="team-member-name">@_teams[i].Users![j].Name</span>
                                <span class="team-member-email">(@_teams[i].Users![j].Email)</span>
                            </div>
                        }
                    </div>
                }

                <button class="edit-team-btn" @onclick="() => OpenEditTeamModal(_teams[index])">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="currentColor"
                         class="icon-small">
                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
                    </svg>
                </button>
            </div>
        }

        @if (_teams.Count > 0 && _totalPages > 1)
        {
            <div class="pagination-container">
                <nav>
                    <!-- First page btn-->
                    <button @onclick="GoToFirstPage"
                            disabled="@(_currentPage == 1)"
                            class="pagination-btn pagination-btn-first pagination-btn-nav">
                        <svg class="pagination-icon"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M15.707 15.707a1 1 0 01-1.414 0L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 010 1.414z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                    <!-- Previous page btn -->
                    <button @onclick="GoToPreviousPage"
                            disabled="@(_currentPage == 1)"
                            class="pagination-btn pagination-btn-nav">
                        <svg class="pagination-icon"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                    <!-- Paged Numbers - go to page x -->
                    @foreach (int pageNumber in GetPageNumbers())
                    {
                        <button @onclick="() => GoToPage(pageNumber)"
                                class="pagination-btn pagination-btn-page @(pageNumber == _currentPage ? "pagination-btn-active" : "")">
                            @pageNumber
                        </button>
                    }
                    <!-- Ellipsis if are more pages available -->
                    @if (_totalPages > _maxVisiblePages && _currentPage < _totalPages - 2)
                    {
                        <span class="pagination-ellipsis">
                            ...
                        </span>
                    }
                    <!-- Next page button -->
                    <button @onclick="GoToNextPage"
                            disabled="@(_currentPage == _totalPages)"
                            class="pagination-btn pagination-btn-nav">
                        <svg class="pagination-icon"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                    <!-- Last page button -->
                    <button @onclick="GoToLastPage"
                            disabled="@(_currentPage == _totalPages)"
                            class="pagination-btn pagination-btn-last pagination-btn-nav">
                        <svg class="pagination-icon"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10.293 15.707a1 1 0 010-1.414L13.586 11H3a1 1 0 110-2h10.586l-3.293-3.293a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                </nav>

                <!-- Pagination info -->
                <div class="pagination-info">
                    <span class="pagination-info-text">
                        Showing @((_currentPage - 1) * _pageSize + 1) - @((_currentPage - 1) * _pageSize + _teams.Count) of @(_totalCount) users
                    </span>
                </div>
            </div>
        }
    </div>
    

    @if(_teams == null || _teams.Count == 0)
    {
        <p>No teams found.</p>
    }
</div>

@if(_showAddTeamModal)
{
    <FlowManager.Client.Components.Admin.Members.ViewTeams.AddEditTeamsModals.AddTeamModal
        @bind-ShowAddTeamModal="@_showAddTeamModal"
        TeamWasAdded="() => LoadTeams()"/>
}

@if(_showEditTeamModal)
{
    <FlowManager.Client.Components.Admin.Members.ViewTeams.AddEditTeamsModals.EditTeamModal
        @bind-ShowEditTeamModal="@_showEditTeamModal"
        TeamToEdit="@_teamToEdit"
        TeamWasEdited="() => LoadTeams()"/>
}